# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
Backend/venv/
env/
.venv/

# Python build files
build/
dist/
*.egg-info/

# FAISS / ML model files (optional if large)
*.faiss
*.pkl

# Environment variables
.env

# =========================
# Node / React
# =========================
node_modules/
Frontend/node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# React build
build/
Frontend/build/

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# IDE
# =========================
.vscode/
.idea/